@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;}

body{
  background: url('/Photos/bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.header{
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: all .15s;
}

.header::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(50px);
  background: rgba(0, 0, 0, .1);
  z-index: -1;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.logo{
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: all .2s;
}

.nav-bar a {
  position: relative;
  font-size: 18px;
  text-decoration: none;
  margin-left: 40px;
  color: #fff;
  transition: all .2s;
}

a:hover{
  text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.7);
}
a:active{
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 1);
}

.nav-bar a::before{ 
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: all .3s;
}

.nav-bar a:hover::before{
  width: 100%;
} 

.nav-bar .home {
  color: rgb(255, 141, 163);
}


.container{
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.line{
  color: white;
  font-size: 100px;
  font-weight: 600;
  text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.7);
  transition: all .15s;
}

.join{
  position: absolute;
  margin-top: 300px;
  border-style: none;
  border-radius: 5px;
  padding: 10px 100px;
  font-weight: 500;
  font-size: 16x;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  transition: all .2s;
  cursor: pointer;
  transition: all .15s;
}

.join:hover{ 
  background: linear-gradient(10deg, rgb(119, 119, 119) 33%, rgb(211, 211, 211) 100%);
  color: #fff;
  text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.7);
}

.join:active{
  opacity: 0.7;
}

#check{
  display: none;
}
 
.icons{
  position: absolute;
  font-size: 30px;
  cursor: pointer;
  display: none;
  right: 5%;
  text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.7);
}

/*BREAKPOINTS*/
  
@media (max-width: 992px){
  .header{
   padding: 10px 50px;
  }
  .line{
    font-size: 70px;
  }
  .join{
    padding: 10px 70px;
  }
}

@media (max-width: 768px){
  .icons{
   display: block;

  }

  #check:checked~.icons #menu-icon{
    display: none;
    transition: all .15s;
  }

  .icons #close-icon{
    display: none;
  }

  #check:checked~.icons #close-icon{
    display: block;
  }

  .nav-bar{
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 0px;
    backdrop-filter: blur(20px);
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .15);
    transition: all .15s ease;
  }

  #check:checked~.nav-bar{
    height: 300px;
  }

  .nav-bar a {
    display: block;
    text-align: center;
    margin: 38px ;
    transform: translateY(-50px);
    transition: all .15s ease;
  }

  .nav-bar a:hover::before{
    display: none;
  }

  .line{
    font-size: 50px;
    transform: translateY(50px);
  }
  
  #check:checked~.nav-bar a{
    transform: translateY(0);
  }

}

@media (max-width: 450px){
  .line{
    font-size: 30px;
  }

  .logo{
    font-size: 28px;
  }
}