@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('/Photos/bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper{
  position: relative;
  width: 1000px;
  height: 540px;
  background: transparent;
  border-radius: 20px;
  border: 2px solid #fff;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  justify-content: center;
  margin: 40px; 
}

.title h1{
  display: block;
  text-align: center;
  color: #fff;
  padding: 20px;
  font-size: 40px;
  text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.7);

}

.info p{
  display: block;
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.3);

}

.contact h2{
  display: block;
  text-align: center;
  color: #fff;
  font-size: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.7);
}

.socials{ 
  width: 800px;
  height: 150px;
  left: 50%;
  transform: translate(-50%);
  position: relative;
}

.insta{
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 20px;
  top: 30%;
  left: 50%;
  transform: translate(-45%,-50%);
  text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.3);
}

.mail{
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 20px;
  top: 60%;
  left: 50%;
  transform: translate(-45%,-50%);
  text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.3);
}

.socials .icon-insta{
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 26px;
  left: 255px;
}

.socials .icon-mail{
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 71px;
  left: 230px;
}

@media (max-width: 800px){

  .wrapper{  
    max-height: auto;
    max-width: 600px;
  }

  .title h1{
    font-size: 30px;
  }

  .info p{
    font-size: 18px;
  }

  .contact h2{
    font-size: 25px;
  }

  .insta{
    font-size: 16px;
  }
  
  .mail{
    font-size: 16px;
  }

  .socials .icon-insta{
    font-size: 18px;
    color: #fff;
    position: absolute;
    top: 33px;
    left: 290px;
  }
  
  .socials .icon-mail{
    font-size: 18px;
    color: #fff;
    position: absolute;
    top: 78px;
    left: 268px;
  
  }
}


@media (max-width: 620px){

  .wrapper{  
    max-height: auto;
    max-width: 300px;
  }

  .title h1{
    font-size: 20px;
  }

  .info p{
    font-size: 12px;
  }

  .contact h2{
    font-size: 15px;
  }

  .insta{
    font-size: 12px;
  }
  
  .mail{
    font-size: 12px;
  }

  .socials .icon-insta{
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 35px;
    left: 315px;
  }
  
  .socials .icon-mail{
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 80px;
    left: 300px;
  
  }
}
